<div class="header">
    <div class="header__menu">
        <div class="header__menu--logo">
        <a href="{{ routes.home }}">
            <img src="{{ logoliquid2.png }}" alt="logo" width="200px" height="200px">
        </a>
        </div>
        <div class="header__menu--links">
        <ul>
            <li>
            <a href="{{ routes.home }}">Home</a>
            </li>
            <li>
            <a href="{{ routes.about }}">About</a>
            </li>
            <li>
            <a href="{{ routes.services }}">Services</a>
            </li>
            <li>
            <a href="{{ routes.contact }}">Contact</a>
            </li>
        </ul>
        </div>
    </div>
</div>